// variables.scss
// ==================
@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=163de7b4-a20c-41b0-b469-7233459db93a");

@font-face {
  font-family: "AxisStd-Regular";
  src: url("../../common/font/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix");
  src: url("../../common/font/7e908add-1f72-4926-8e0d-33613fad3a87.eot?#iefix") format("eot"), url("../../common/font/6e9eb620-9339-4b2e-bb9b-d514def96de7.woff") format("woff"), url("../../common/font/a71ba532-858c-440c-8abd-e89a2ae8efea.ttf") format("truetype"), url("../../common/font/5d948218-1de1-4508-b1a6-fe03ccced886.svg#5d948218-1de1-4508-b1a6-fe03ccced886") format("svg");
}
@font-face {
  font-family: "AxisStd-Medium";
  src: url("../../common/font/724feca3-e632-4df0-811e-d0184d5e569c.eot?#iefix");
  src: url("../../common/font/724feca3-e632-4df0-811e-d0184d5e569c.eot?#iefix") format("eot"), url("../../common/font/2a67f3cb-4bfa-4ec5-9167-73e8c4e78635.woff") format("woff"), url("../../common/font/f09ad952-d955-4c72-a632-1313427634d0.ttf") format("truetype"), url("../../common/font/c60a0c5e-c39d-4513-b578-1a5858cbecde.svg#c60a0c5e-c39d-4513-b578-1a5858cbecde") format("svg");
}